header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}
header nav {
  display: block;
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: black;
}
.logo span {
  color: MediumAquamarine;
}
.column-large {
  border: 1px solid black;
  width: 630px;
}
.column-medium {
  border: 1px solid black;
  width: 300px;
}
.column-small {
  border: 1px solid black;
  width: 240px;
}
.first-title span {
  border: 1px solid black;
}
.story {
  border: 1px solid black;
}
.image-content-earth {
  border: 1px solid black;
}
.image-content-cameras {
  border: 1px solid black;
}
.image-content-cats {
  border: 1px solid black;
}
.news-bites {
  border: 1px solid black;
}
