header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}
nav {
  display: inline-block;
  justify-content: flex-end;
}
.navlist {
  color: black;
}
header .logo {
  color: MediumAquamarine;
}
